"""

from typing import Callable

from wire_warriors.machine import Enigma


def get_prompt(
    state=None,
):
    if state == "set_key":
        return "Please enter a 3-letter key > "
    if state == "add_plug":
        return "Please enter a 2-letter plug combination > "
    if state == "encrypt":
        return "Please enter the message to encrypt > "
    if state == "decrypt":
        return "Please enter the message to decrypt > "
    return "Please enter your command > "


def set_key(key: str, enigma: Enigma, output_command: Callable[[str], None]):
    enigma.set_key(key)
    output_command(f'Set key "{key}".')


def add_plug(plug: str, enigma: Enigma, output_command: Callable[[str], None]):
    existing_letters = []
    for letter in plug:
        for plug in enigma.plugs:
            if letter in plug:
                existing_letters.append(letter)
                break
    if not existing_letters:
        enigma.plugs.append(plug)
        output_command(f'Added plug "{plug}"')
        return

    letter_string = '" and "'.join(existing_letters)
    output_command(f'The letters "{letter_string}" are already plugged.')


def list_plugs(enigma: Enigma):
    plug_string = ", ".join(enigma.plugs)
    return f"Current plug state: [{plug_string}]"


def clear_plugs(enigma: Enigma):
    enigma.plugs.clear()
    return f"Current plug state: {enigma.plugs}"


def encrypt_message(enigma: Enigma, message: str):
    encrypted_message = enigma.encode(message)
    return f"Encrypted message: {encrypted_message}"


def decrypt_message(enigma: Enigma, message: str):
    decrypted_message = enigma.decode(message)
    return f"Decrypted message: {decrypted_message}"


def get_command(
    state: str | None,
    enigma: Enigma,
    input_command: Callable[[str], str | None],
) -> str | None:
    result = input_command(f"{enigma.get_key()} | {get_prompt(state)}")
    if not isinstance(result, str):
        raise TypeError("Input should be a string.")
    result = result.upper()

    if result == "H":
        return "help"
    if result == "Q":
        return "quitting"
    if result == "K" and state is None:
        return "set_key"
    if result == "L" and state is None:
        return "list_plugs"
    if result == "P" and state is None:
        return "add_plug"
    if result == "R" and state is None:
        return "clear_plugs"
    if result == "E" and state is None:
        return "encrypt"
    if result == "D" and state is None:
        return "decrypt"
    if len(result) == 3 and state == "set_key":
        return f"apply_key_{result}"
    if len(result) == 2 and state == "add_plug":
        return f"apply_plug_{result}"
    if state == "encrypt":
        return f"apply_encrypt_{result}"
    if state == "decrypt":
        return f"apply_decrypt_{result}"

    return "invalid_command"


def handle_state(state: str, enigma: Enigma, output_command_callback: Callable[[str], None]):
    if state == "invalid_command":
        output_command_callback("Invalid command.")
        return None
    if state == "list_plugs":
        output_command_callback(list_plugs(enigma))
        return None
    if "apply_key" in state:
        set_key(state[10:], enigma, output_command_callback)
        return None
    if "apply_plug" in state:
        add_plug(state[11:], enigma, output_command_callback)
        return None
    if state == "clear_plugs":
        output_command_callback(clear_plugs(enigma))
        return None
    if "apply_encrypt" in state:
        output_command_callback(encrypt_message(enigma, state[14:]))
        return None
    if "apply_decrypt" in state:
        output_command_callback(decrypt_message(enigma, state[14:]))
        return None
    if state == "help":
        help_message = [
            "You may select one of the following options:"
            "   - h - This help message"
            "   - e - Encrypt a message using the current key"
            "   - d - Decrypt a message. The message should be prefaced with a 3 letter key."
            "   - k - Change the current key"
            "   - l - List the current plug settings"
            "   - r - remove the current plug settings"
            "   - p - Add a plug pair"
        ]
        output_command_callback("\n".join(help_message))
        return None
    return state


def run(
    enigma: Enigma,
    input_command_callback: Callable[[str], str | None],
    output_command_callback: Callable[[str], None],
):
    state = None
    while state != "quitting":
        state = get_command(state, enigma, input_command_callback)

"""